<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Una prueba</title>
    <link href='{{"/assets/css/style.css" |> url}}' rel="stylesheet">
    <link href='{{"/assets/css/uno.css" |> url}}' rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1 id="logo">Una prueba</h1>
      <a href="#images">Algunas fotos</a>
      <a href="#moreImages">Más fotos</a>
    </nav>
    <main>
      <h1 id="images">Algunas fotos</h1>
      <div class="image-grid">
        {{ for image of images }}
          <div class="grid-item"><img src="{{image.src |> url}}"></div>
        {{ /for }}
      </div>
      <h1 id="moreImages">Más fotos</h1>
      <div class="image-grid">
        {{for image of more_images }}
          <div class="grid-item"><img src="{{image.src |> url}}"></div>
        {{ /for }}
      </div>
    </main>
    <footer>
      {{ for social of socials }}
        <a href="{{social.url}}"><img
            class="fill-white"
            src="{{social.icon.name |> icon(social.icon.catalog)}}"
            width="32"
            inline
          ></a>
      {{ /for }}
    </footer>
  </body>
</html>
